
.header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #000;
}

@media (min-width: 320px) {
    .header {
        height: 60px;
    }
}

@media (min-width: 768px) {
    .header {
        height: 80px;
    }
}

@media (min-width: 1440px) {
    .header {
        height: 100px;
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
}

@media (min-width: 320px) {
    .header-content {
        padding: 0 17px;
    }
}

@media (min-width: 768px) {
    .header-content {
        padding: 0 30px;
    }
}

@media (min-width: 1440px) {
    .header-content {
        padding: 0 40px;
    }
}

.header-logo, .top-link {
    display: flex;
}

@media (min-width: 320px) {
    .header-logo {
        width: 55%;
    }
}

@media (min-width: 768px) {
    .header-logo {
        width: 35%;
    }
}

@media (min-width: 1024px) {
    .header-logo {
        width: 25%;
    }
}

@media (min-width: 1440px) {
    .header-logo {
        width: 23%;
    }
}

@media (min-width: 320px) {
    .header-logo-img {
        width: 20%;
        margin-right: 8px;
    }
}

@media (min-width: 1440px) {
    .header-logo-img {
        width: 19%;
        margin-right: 10px;
    }
}

.header-logo-coachtech-img {
    width: 100%;
}

.header-nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #000;
    transition: ease .4s;
}

@media (min-width:1024px) {
    .header-nav {
        position: static;
        transform: initial;
        background-color: inherit;
        height: inherit;
        display: flex;
        justify-content: end;
        width: 66%;
    }
}

.header-button {
    width: 50px;
    height: 100%;
}

.button {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
}

@media (min-width: 1024px) {
    .button {
        display: none;
    }
}

.button span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: ease .4s;
    display: block;
}

.button span:nth-child(1) {
    top: 0;
}

.button span:nth-child(2) {
    margin: 8px 0;
}

.button span:nth-child(3) {
    top: 0;
}

.header-nav.active {
    transform: translateX(0);
}

.button.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
}

.button.active span:nth-child(2) {
    opacity: 0;
}

.button.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
}

@media (min-width: 1024px) {
    .nav-items {
        width: 100%;
        display: flex;
        align-items: center;
        height: initial;
        justify-content: space-between;
    }
}

.nav-items {
    padding-top: 250px;
    padding-bottom: 200px;
}

@media (min-width: 1024px) {
    .nav-items {
        padding-top: inherit;
        padding-bottom: inherit;
    }
}

@media (min-width: 320px) {
    .header-nav-list {
        background-color: #000;
        width: 100%;
    }
}

.list-link-login, .list-link-register, .list-link-mypage, .list-link-sell {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.list-link-sell {
    border-radius: 5px;
}

@media (min-width: 320px) {
    .list-link-login, .list-link-register, .list-link-mypage {
        font-size: 20px;
        margin-bottom: 24px;
    }
}

@media (min-width: 1024px) {
    .list-link-login, .list-link-register, .list-link-mypage {
        background-color: #000;
        font-size: 17px;
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .list-link-login, .list-link-register, .list-link-mypage {
        background-color: #000;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .list-link-sell {
        background-color: #fff;
        color: #000;
        margin-bottom: 0;
        padding: 5px 0;
        width: 55px;
        margin-left: 13px;
    }
}

.header-nav-form {
    text-align: center;
}

.search-input {
    font-weight: bold;
    border-radius: 5px;
}

@media (min-width: 320px) {
    .search-input {
        width: 70%;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 24px;
    }
}

@media (min-width: 768px) {
    .search-input {
        padding: 15px;
    }
}

@media (min-width: 1024px) {
    .search-input {
        width: 390px;
        font-size: 20px;
        padding: 10px;
        margin-bottom: 0;
        margin-right: 24px;
    }
}

@media (min-width: 1440px) {
    .search-input {
        width: 600px;
        font-size: 20px;
        padding: 15px;
        margin-right: 30px;
    }
}

main {
    text-align: center;
}

