
.header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 8vh;
}

.header {
    padding: 0 3vw;
}

.header-logo, .top-link {
    display: flex;
}

@media (min-width: 375px) {
    .header-logo {
        width: 42%;
    }
}

@media (min-width: 425px) {
    .header-logo {
        width: 40%;
    }
}

@media (min-width:768px) {
    .header-logo {
        width: 30%;
    }
}

@media (min-width:1024px) {
    .header-logo {
        width: 25%;
    }
}

@media (min-width:1440px) {
    .header-logo {
        width: 23%;
    }
}

@media (min-width: 375px) {
    .header-logo-img {
        width: 23%;
        margin-right: 1.5vw;
    }
}

@media (min-width: 425px) {
    .header-logo-img {
        width: 22%;
        margin-right: 1.3vw;
    }
}

@media (min-width:768px) {
    .header-logo-img {
        width: 21%;
        margin-right: 1vw;
    }
}

@media (min-width:1024px) {
    .header-logo-img {
        width: 19%;
        margin-right: 0.7vw;
    }
}

@media (min-width:1440px) {
    .header-logo-img {
        width: 17%;
        margin-right: 0.5vw;
    }
}

.header-logo-coachtech-img {
    width: 100%;
}

@media (min-width: 375px) {
    .header-logo-coachtech-img {
        padding: 6.6vw 0;
    }
}

@media (min-width: 425px) {
    .header-logo-coachtech-img {
        padding: 5.7vw 0;
    }
}

@media (min-width:768px) {
    .header-logo-coachtech-img {
        padding: 2.7vw 0;
    }
}

@media (min-width:1024px) {
    .header-logo-coachtech-img {
        padding: 2vw 0;
    }
}

@media (min-width:1440px) {
    .header-logo-coachtech-img {
        padding: 1.3vw 0;
    }
}

.header-nav {
    align-self: center;
}

.header-nav-ul {
    display: flex;
}

.header-nav-list, .header-nav-form {
    margin-left: 1vw;
}

.list-link, .list-link-sell {
    text-decoration: none;
    cursor: pointer;
}

.list-link-sell {
    color: #000;
    background-color: #fff;
    border-radius: 3px;
}

.list-link {
    color: #fff;
}

@media (min-width: 375px) {
    .list-link, .list-link-sell, .logout-button {
        font-size: 3.5vw;
    }
}

@media (min-width: 425px) {
    .list-link, .list-link-sell, .logout-button {
        font-size: 3.3vw;
    }
}

@media (min-width:768px) {
    .list-link, .list-link-sell, .logout-button {
        font-size: 2.2vw;
    }
}

@media (min-width:1024px) {
    .list-link, .list-link-sell, .logout-button {
        font-size: 1.7vw;
    }
}

@media (min-width:1440px) {
    .list-link, .list-link-sell, .logout-button {
        font-size: 1.3vw;
    }
}

.logout-button {
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@media (min-width: 375px) {
    .list-link-sell {
        padding: 1.5vw 1vw;
        margin-left: 2vw;
    }
}

@media (min-width: 425px) {
    .list-link-sell {
        padding: 2vw 1.5vw;
        margin-left: 2vw;
    }
}

@media (min-width:768px) {
    .list-link-sell {
        padding: 0.7vw 2vw;
        margin-left: 1.5vw;
    }
}

@media (min-width:1024px) {
    .list-link-sell {
        padding: 0.6vw 1.8vw;
        margin-left: 1vw;
    }
}

@media (min-width:1440px) {
    .list-link-sell {
        padding: 0.4vw 1.4vw;
        margin-left: 0.7vw;
    }
}

main {
    text-align: center;
}

