
.comment-content {
    display: flex;
    justify-content: space-between;
}

@media (min-width:375px) {
    .comment-content {
        padding: 10vw 8vw;
        flex-direction: column;
    }
}

@media (min-width:425px) {
    .comment-content {
        padding: 12vw 9vw;
        flex-direction: column;
    }
}

@media (min-width:768px) {
    .comment-content {
        padding: 14vw 8vw;
        flex-direction: row;
    }
}

@media (min-width:1024px) {
    .comment-content {
        padding: 9vw 6vw;
        flex-direction: row;
    }
}

@media (min-width:1440px) {
    .comment-content {
        padding: 8vw 7vw;
        flex-direction: row;
    }
}

.item-detail-img {
    width: 100%;
}

.item-detail-text {
    text-align: start;
}

@media (min-width:375px) {

    .item-detail-image,
    .item-detail-text {
        width: 83vw;
    }
}

@media (min-width:425px) {

    .item-detail-image,
    .item-detail-text {
        width: 81vw;
    }
}

@media (min-width:768px) {
    .item-detail-image {
        width: 39vw;
    }

    .item-detail-text {
        width: 41vw;
    }
}

@media (min-width:1024px) {
    .item-detail-image {
        width: 38vw;
    }

    .item-detail-text {
        width: 42vw;
    }
}

@media (min-width:1440px) {
    .item-detail-image {
        width: 35vw;
    }

    .item-detail-text {
        width: 45vw;
    }
}

.item-name,
.info-title,
.explanation-title,
.category-title,
.condition-title {
    font-weight: bold;
}

@media (min-width:375px) {
    .item-name {
        font-size: 6vw;
    }
}

@media (min-width:425px) {
    .item-name {
        font-size: 5.5vw;
    }
}

@media (min-width:768px) {
    .item-name {
        font-size: 3.6vw;
    }
}

@media (min-width:1024px) {
    .item-name {
        font-size: 3vw;
    }
}

@media (min-width:1440px) {
    .item-name {
        font-size: 2.3vw;
    }
}

@media (min-width:375px) {
    .item-bland-name {}
}

@media (min-width:425px) {
    .item-bland-name {}
}

@media (min-width:768px) {
    .item-bland-name {}
}

@media (min-width:1024px) {
    .item-bland-name {}
}

@media (min-width:1440px) {
    .item-bland-name {}
}

@media (min-width:375px) {
    .item-price {}
}

@media (min-width:425px) {
    .item-price {}
}

@media (min-width:768px) {
    .item-price {}
}

@media (min-width:1024px) {
    .item-price {}
}

@media (min-width:1440px) {
    .item-price {}
}

.item-reaction {
    display: flex;
}

.like, .comment {
    display: flex;
    flex-direction: row;
}

.comment-link::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f075';
}

@media (min-width:768px) {
    .comment-link::before {
        font-size: 3vw;
    }
}

@media (min-width:1024px) {
    .comment-link::before {
        font-size: 2.5vw;
    }
}

@media (min-width:1440px) {
    .comment-link::before {
        font-size: 2vw;
    }
}

.comment-link {
    text-decoration: none;
    margin-right: 1.5vw;
}

.like-link::before,
.unlike-link::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f005';
}

@media (min-width:768px) {

    .like-link::before,
    .unlike-link::before {
        font-size: 3vw;
    }
}

@media (min-width:1024px) {

    .like-link::before,
    .unlike-link::before {
        font-size: 2.5vw;
    }
}

@media (min-width:1440px) {

    .like-link::before,
    .unlike-link::before {
        font-size: 2vw;
    }
}

.unlike-link,
.like-link {
    text-decoration: none;
    margin-right: 1.5vw;
}

.unlike-link::before,
.comment-link::before {
    color: #F8B400;
}

.like-link::before {
    color: #696969;
}

.comment-history {
    overflow-y: scroll;
}

@media (min-width:375px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:425px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:768px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:1024px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:1440px) {
    .comment-history {
        height: 10vw;
    }
}