
.comment-content {
    display: flex;
    justify-content: space-between;
}

@media (min-width:320px) {
    .comment-content {
        padding: 10vw 8vw;
        flex-direction: column;
    }
}

@media (min-width:425px) {
    .comment-content {
        padding: 12vw 9vw;
        flex-direction: column;
    }
}

@media (min-width:768px) {
    .comment-content {
        padding: 14vw 8vw;
        flex-direction: row;
    }
}

@media (min-width:1024px) {
    .comment-content {
        padding: 9vw 6vw;
        flex-direction: row;
    }
}

@media (min-width:1440px) {
    .comment-content {
        padding: 8vw 7vw;
        flex-direction: row;
    }
}

.item-detail-img {
    width: 100%;
}

.item-detail-text {
    text-align: start;
}

@media (min-width:320px) {
    .item-detail-image,
    .item-detail-text {
        width: 83vw;
    }
}

@media (min-width:425px) {
    .item-detail-image,
    .item-detail-text {
        width: 81vw;
    }
}

@media (min-width:768px) {
    .item-detail-image {
        width: 39vw;
    }

    .item-detail-text {
        width: 41vw;
    }
}

@media (min-width:1024px) {
    .item-detail-image {
        width: 38vw;
    }

    .item-detail-text {
        width: 42vw;
    }
}

@media (min-width:1440px) {
    .item-detail-image {
        width: 35vw;
    }

    .item-detail-text {
        width: 45vw;
    }
}

.item-name,
.info-title,
.explanation-title,
.category-title,
.condition-title {
    font-weight: bold;
}

@media (min-width:320px) {
    .item-name {
        font-size: 7.8vw;
    }
}

@media (min-width:375px) {
    .item-name {
        font-size: 6.8vw;
    }
}

@media (min-width:425px) {
    .item-name {
        font-size: 6.3vw;
    }
}

@media (min-width:768px) {
    .item-name {
        font-size: 3.6vw;
    }
}

@media (min-width:1024px) {
    .item-name {
        font-size: 3vw;
    }
}

@media (min-width:1440px) {
    .item-name {
        font-size: 2.3vw;
    }
}

@media (min-width:320px) {
    .item-bland-name {
        margin: 0;
        font-size: 4.3vw;
    }
}

@media (min-width:375px) {
    .item-brand-name {
        font-size: 3.8vw;
    }
}

@media (min-width:425px) {
    .item-bland-name {
        font-size: 3.3vw;
    }
}

@media (min-width:768px) {
    .item-bland-name {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .item-bland-name {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .item-bland-name {
        font-size: 1.2vw;
    }
}

@media (min-width:320px) {
    .item-price {
        margin-bottom: 0;
        margin-top: 3vw;
        font-size: 6vw;
    }
}

@media (min-width:375px) {
    .item-price {
        font-size: 5.5vw;
    }
}

@media (min-width:425px) {
    .item-price {
        font-size: 4.8vw;
    }
}

@media (min-width:768px) {
    .item-price {
        font-size: 3vw;
    }
}

@media (min-width:1024px) {
    .item-price {
        margin-top: 2vw;
        font-size: 2vw;
    }
}

@media (min-width:1440px) {
    .item-price {
        font-size: 1.7vw;
    }
}

.item-reaction {
    display: flex;
}

.like,
.comment {
    display: flex;
    flex-direction: column;
}

.comment-link::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f075';
}

@media (min-width:320px) {
    .like, .comment {
        margin: 1vw 5vw 1vw 2vw;
    }
}

@media (min-width:768px) {
    .like, .comment {
        margin: 1vw 3vw 1vw 1vw;
    }
}

@media (min-width:1024px) {
    .like, .comment {
        margin: 1vw 2.5vw 1vw 0.7vw;
    }
}

@media (min-width:1440px) {
    .like, .comment {
        margin: 1vw 2vw 1vw 0.5vw;
    }
}

.unlike-link,
.like-link,
.comment-link {
    text-decoration: none;
}

.like-link::before,
.unlike-link::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f005';
}

.unlike-link::before {
    color: #F8B400;
}

.like-link::before,
.comment-link::before {
    color: #A9A9A9;
}

@media (min-width:320px) {
    .like-link::before, .unlike-link::before, .comment-link::before {
        font-size: 7vw;
    }
}

@media (min-width:375px) {
    .like-link::before, .unlike-link::before, .comment-link::before {
        font-size: 6.5vw;
    }
}

@media (min-width:425px) {
    .like-link::before, .unlike-link::before, .comment-link::before {
        font-size: 6vw;
    }
}

@media (min-width:768px) {
    .like-link::before, .unlike-link::before, .comment-link::before {
        font-size: 3.5vw;
    }
}

@media (min-width:1024px) {
    .like-link::before, .unlike-link::before, .comment-link::before {
        font-size: 2.5vw;
    }
}

@media (min-width:1440px) {
    .like-link::before, .unlike-link::before, .comment-link::before {
        font-size: 2vw;
    }
}

.like-count,
.comment-count {
    text-align: center;
}

@media (min-width:320px) {
    .like-count, .comment-count {
        font-size: 3.4vw;
    }
}

@media (min-width:768px) {
    .like-count, .comment-count {
        font-size: 1.7vw;
    }
}

@media (min-width:1024px) {
    .like-count, .comment-count {
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .like-count, .comment-count {
        font-size: 1vw;
    }
}

.comment-history {
    overflow-y: scroll;
}

@media (min-width:375px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:425px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:768px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:1024px) {
    .comment-history {
        height: 10vw;
    }
}

@media (min-width:1440px) {
    .comment-history {
        height: 10vw;
    }
}

.comment-text-detail {
    background-color: #FFF0F5;
}