.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:768px) {
    .login-title {
        font-size: 2.5vw;
        padding: 2vw 3vw;
    }
}

@media (min-width:1024px) {
    .login-title {
        font-size: 2vw;
        padding: 1.6vw 2.5vw;
    }
}

@media (min-width:1440px) {
    .login-title {
        font-size: 1.5vw;
        padding: 1.4vw 2vw;
    }
}

.login-form {
    padding: 0 0 1vw 2vw;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-error {
    width: fit-content;
    color: #f00;
}

@media (min-width:768px) {
    .login-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:1024px) {
    .login-error {
        font-size: 1.3vw;
        margin-left: 6vw;
    }
}

@media (min-width:1440px) {
    .login-error {
        font-size: 1vw;
        margin-left: 4vw;
    }
}

@media (min-width:768px) {
    .form-mail {
        margin-top: 4vw;
    }
}

@media (min-width:1024px) {
    .form-mail {
        margin-top: 2.5vw;
    }
}

@media (min-width:1440px) {
    .form-mail {
        margin-top: 2vw;
    }
}

.form-button {
    text-align: right;
}

@media (min-width:768px) {
    .form-button {
        margin: 1.5vw 3.5vw;
    }
}

@media (min-width:1024px) {
    .form-button {
        margin: 1.2vw 3.2vw;
    }
}

@media (min-width:1440px) {
    .form-button {
        margin: 1vw 3vw;
    }
}

.form-button-submit {
    background-color: #4169E1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width:768px) {
    .form-button-submit {
        padding: 1vw 2vw;
        font-size: 1.9vw;
    }
}

@media (min-width:1024px) {
    .form-button-submit {
        padding: 0.7vw 1.5vw;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .form-button-submit {
        padding: 0.5vw 1vw;
        font-size: 1.2vw;
    }
}