
.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    color: #000;
}

@media (min-width:320px) {
    .login-title {
        font-size: 5vw;
        margin: 22vw 0 8vw 0;
    }
}

@media (min-width:375px) {
    .login-title {
        font-size: 4.5vw;
        margin: 20vw 0 5vw 0;
    }
}

@media (min-width:425px) {
    .login-title {
        font-size: 4.3vw;
        margin: 18vw 0 5vw 0;
    }
}

@media (min-width:768px) {
    .login-title {
        font-size: 3.2vw;
        margin: 15vw 0 3vw 0;
    }
}

@media (min-width:1024px) {
    .login-title {
        font-size: 2.5vw;
        margin: 10vw 0 2vw 0;
    }
}

@media (min-width:1440px) {
    .login-title {
        font-size: 2vw;
        margin: 8vw 0 2vw 0;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login-group {
    display: inline-flex;
    flex-direction: column;
}

@media (min-width:320px) {
    .login-group {
        margin: 2vw 0 4.5vw 0;
        width: 70vw;
    }
}

@media (min-width:375px) {
    .login-group {
        margin: 2vw 0 4vw 0;
        width: 65vw;
    }
}

@media (min-width:425px) {
    .login-group {
        margin: 2vw 0 3.7vw 0;
        width: 62vw;
    }
}

@media (min-width:768px) {
    .login-group {
        margin: 2vw 0 3.5vw 0;
        width: 55vw;
    }
}

@media (min-width:1024px) {
    .login-group {
        margin: 3vw 0 4vw 0;
        width: 50vw;
    }
}

@media (min-width:1440px) {
    .login-group {
        margin: 2vw 0 3vw 0;
        width: 45vw;
    }
}

.login-group-title {
    color: #000;
    font-weight: bold;
    align-self: flex-start;
}

@media (min-width:320px) {
    .login-group-title {
        font-size: 3.9vw;
    }
}

@media (min-width:375px) {
    .login-group-title {
        font-size: 3.3vw;
    }
}

@media (min-width:425px) {
    .login-group-title {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .login-group-title {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .login-group-title {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .login-group-title {
        font-size: 1.2vw;
    }
}

.input-email,
.input-password {
    border: 0.1vw solid #696969;
    border-radius: 3px;
    padding: 1vw;
}

.login-error {
    width: fit-content;
    color: #f00;
}

@media (min-width:375px) {
    .login-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:425px) {
    .login-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:768px) {
    .login-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:1024px) {
    .login-error {
        font-size: 1.3vw;
        margin-left: 6vw;
    }
}

@media (min-width:1440px) {
    .login-error {
        font-size: 1vw;
        margin-left: 4vw;
    }
}

.login-button {
    background-color: #CD5C5C;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

@media (min-width:320px) {
    .login-button {
        font-size: 3.8vw;
        padding: 2.3vw 0;
        margin: 6vw 0 3.6vw 0;
    }
}

@media (min-width:375px) {
    .login-button {
        font-size: 3.2vw;
        padding: 2vw 0;
        margin: 5.5vw 0 3vw 0;
    }
}

@media (min-width:425px) {
    .login-button {
        font-size: 3vw;
        padding: 1.7vw 0;
        margin: 5vw 0 2.5vw 0;
    }
}

@media (min-width:768px) {
    .login-button {
        font-size: 1.8vw;
        padding: 1.2vw 0;
        margin: 4.5vw 0 1.5vw 0;
    }
}

@media (min-width:1024px) {
    .login-button {
        font-size: 1.4vw;
        padding: 0.8vw 0;
        margin: 4vw 0 1.3vw 0;
    }
}

@media (min-width:1440px) {
    .login-button {
        font-size: 1.2vw;
        padding: 0.6vw 0;
        margin: 3vw 0 1vw 0;
    }
}

.register-link {
    text-decoration: none;
    color: #4169E1;
}

@media (min-width:320px) {
    .register-link {
        font-size: 3.8vw;
    }
}

@media (min-width:375px) {
    .register-link {
        font-size: 3.2vw;
    }
}

@media (min-width:425px) {
    .register-link {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .register-link {
        font-size: 1.9vw;
    }
}

@media (min-width:1024px) {
    .register-link {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .register-link {
        font-size: 1.2vw;
    }
}