
.top-content {
    display: flex;
    flex-direction: column;
}

.top-title {
    display: flex;
    font-weight: bold;
    border-bottom: 0.15vw solid #696969;
}

@media (min-width:320px) {
    .top-title {
        padding: 2vw 0 0.1vw 10vw;
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .top-title {
        font-size: 3.2vw;
    }
}

@media (min-width:425px) {
    .top-title {
        font-size: 2.8vw;
    }
}

@media (min-width:768px) {
    .top-title {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .top-title {
        padding: 1.5vw 0 0.2vw 9vw;
        font-size: 1.6vw;
    }
}

@media (min-width:1440px) {
    .top-title {
        padding: 2vw 0 0.3vw 8vw;
        font-size: 1.3vw;
    }
}

.top-title-mylist {
    cursor: pointer;
    color: #FF0000;
}

@media (min-width:320px) {
    .top-title-mylist {
        margin-left: 7.5vw;
    }
}

@media (min-width:425px) {
    .top-title-mylist {
        margin-left: 7.2vw;
    }
}

@media (min-width:768px) {
    .top-title-mylist {
        margin-left: 7vw;
    }
}

@media (min-width:1024px) {
    .top-title-mylist {
        margin-left: 6vw;
    }
}

@media (min-width:1440px) {
    .top-title-mylist {
        margin-left: 5vw;
    }
}

.recommend-link {
    cursor: pointer;
    text-decoration: none;
    color: #696969;
}

.like-item-detail {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width:320px) {
    .like-item-list {
        padding: 4vw 5vw;
    }
}

@media (min-width:375px) {
    .like-item-list {
        padding: 4vw 5vw;
    }
}

@media (min-width:425px) {
    .like-item-list {
        padding: 3vw 6vw;
    }
}

@media (min-width:768px) {
    .like-item-list {
        padding: 2.7vw 5vw;
    }
}

@media (min-width:1024px) {
    .like-item-list {
        padding: 2.5vw 4vw;
    }
}

@media (min-width:1440px) {
    .like-item-list {
        padding: 2vw 3vw;
    }
}

@media (min-width:320px) {
    .like-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:375px) {
    .like-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:425px) {
    .like-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:768px) {
    .like-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:1024px) {
    .like-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:1440px) {
    .like-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:320px) {
    .like-item-img {
        width: 41vw;
    }
}

@media (min-width:375px) {
    .like-item-img {
        width: 26vw;
    }
}

@media (min-width:425px) {
    .like-item-img {
        width: 25vw;
    }
}

@media (min-width:768px) {
    .like-item-img {
        width: 18.5vw;
    }
}

@media (min-width:1024px) {
    .like-item-img {
        width: 14.4vw;
    }
}

@media (min-width:1440px) {
    .like-item-img {
        width: 14.8vw;
    }
}

@media (min-width:320px) {
    .like-item-null-text {
        font-size: 4.5vw;
    }
}

@media (min-width:375px) {
    .like-item-null-text {
        font-size: 4vw;
    }
}

@media (min-width:425px) {
    .like-item-null-text {
        font-size: 3.5vw;
    }
}

@media (min-width:768px) {
    .like-item-null-text {
        font-size: 2.3vw;
    }
}

@media (min-width:1024px) {
    .like-item-null-text {
        font-size: 1.7vw;
    }
}

@media (min-width:1440px) {
    .like-item-null-text {
        font-size: 1.4vw;
    }
}
