
.mypage-content {
    display: flex;
    flex-direction: column;
}

@media (min-width:320px) {
    .mypage-content {
        padding-top: 15vw;
    }
}

@media (min-width:425px) {
    .mypage-content {
        padding-top: 13vw;
    }
}

@media (min-width:768px) {
    .mypage-content {
        padding-top: 9vw;
    }
}

@media (min-width:1024px) {
    .mypage-content {
        padding-top: 5vw;
    }
}

@media (min-width:320px) {
    .user-detail {
        margin: 0 17vw 6vw 17vw;
    }
}

@media (min-width:768px) {
    .user-detail {
        display: flex;
        justify-content: space-between;
        margin: 0 10vw 3vw 17vw;
    }
}

@media (min-width:1024px) {
    .user-detail {
        margin: 0 10vw 2vw 15vw;
    }
}

@media (min-width:320px) {
    .user-detail-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vw;
    }
}

@media (min-width:320px) {
    .user-name {
        align-self: center;
        font-weight: bold;
        font-size: 7vw;
    }
}

@media (min-width:375px) {
    .user-name {
        font-size: 6.5vw;
    }
}

@media (min-width:425px) {
    .user-name {
        font-size: 6vw;
    }
}

@media (min-width:768px) {
    .user-name {
        font-size: 3.5vw;
    }
}

@media (min-width:1024px) {
    .user-name {
        font-size: 2.7vw;
    }
}

@media (min-width:1440px) {
    .user-name {
        font-size: 2.3vw;
    }
}

@media (min-width:320px) {
    .user-image {
        border-radius: 50%;
        width: 25vw;
        height: 25vw;
    }
}

@media (min-width:425px) {
    .user-image {
        width: 23vw;
        height: 23vw;
    }
}

@media (min-width:768px) {
    .user-image {
        width: 15vw;
        height: 15vw;
        margin-right: 5vw;
    }
}

@media (min-width:1024px) {
    .user-image {
        width: 12.5vw;
        height: 12.5vw;
    }
}

@media (min-width:375px) {
    .user-profile-button {
        font-size: 3.2vw;
        margin: 5.5vw 0 3vw 0;
    }
}

@media (min-width:425px) {
    .user-profile-button {
        font-size: 3vw;
        margin: 5vw 0 2.5vw 0;
    }
}

@media (min-width:768px) {
    .user-profile-button {
        font-size: 1.8vw;
        height: 5vw;
        position: relative;
        top: 1.5vw;
    }
}

@media (min-width:1024px) {
    .user-profile-button {
        font-size: 1.4vw;
        height: 4vw;
        top: 1vw;
    }
}

@media (min-width:1440px) {
    .user-profile-button {
        font-size: 1.2vw;
        height: 3.5vw;
    }
}



.user-profile-link {
    text-decoration: none;
    color: #CD5C5C;
    font-weight: bold;
}

.user-profile-button {
    border-radius: 5px;
    border: 2px solid #CD5C5C;
    cursor: pointer;
    background-color: #fff;
}

@media (min-width:320px) {
    .user-profile-button {
        font-size: 3.8vw;
        padding: 1.5vw 5vw;
        margin: 6vw 0 3.6vw 0;
    }
}

@media (min-width:375px) {
    .user-profile-button {
        font-size: 3.2vw;
        margin: 5.5vw 0 3vw 0;
    }
}

@media (min-width:425px) {
    .user-profile-button {
        font-size: 3vw;
        padding: 1.2vw 4.5vw;
        margin: 5vw 0 2.5vw 0;
    }
}

@media (min-width:768px) {
    .user-profile-button {
        font-size: 1.8vw;
        padding: 0.8vw 3vw;
        margin: 4.5vw 0 1.5vw 0;
    }
}

@media (min-width:1024px) {
    .user-profile-button {
        font-size: 1.4vw;
        margin: 4vw 0 1.3vw 0;
    }
}

@media (min-width:1440px) {
    .user-profile-button {
        font-size: 1.2vw;
        margin: 3vw 0 1vw 0;
    }
}

.js-tab-panel {
    width: 100%;
}

.js-tab-panel-group {
    display: flex;
    border-bottom: 0.15vw solid #696969;
}

.active_tab {
    color: #f00;
    text-align: center;
}

.inactive_tab {
    color: #696969;
    text-align: center;
}

@media (min-width:320px) {
    .active_tab, .inactive_tab {
        cursor: pointer;
        font-weight: bold;
        padding: 2vw 0 0.1vw 10vw;
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .active_tab, .inactive_tab {
        font-size: 3.2vw;
    }
}

@media (min-width:425px) {
    .active_tab, .inactive_tab {
        font-size: 2.8vw;
    }
}

@media (min-width:768px) {
    .active_tab, .inactive_tab {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .active_tab, .inactive_tab {
        padding: 1.5vw 0 0.2vw 9vw;
        font-size: 1.6vw;
    }
}

@media (min-width:1440px) {
    .active_tab, .inactive_tab {
        padding: 2vw 0 0.3vw 8vw;
        font-size: 1.3vw;
    }
}

.active_content {
    display: inline;
    font-size: 1.5vw;
}

.inactive_content {
    display: none;
}

.sell-item-detail {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width:320px) {
    .sell-item-detail, .purchase-item-detail {
        padding: 4vw 5vw;
    }
}

@media (min-width:425px) {
    .sell-item-detail, .purchase-item-detail {
        padding: 3vw 6vw;
    }
}

@media (min-width:768px) {
    .sell-item-detail, .purchase-item-detail {
        padding: 2.7vw 5vw;
    }
}

@media (min-width:1024px) {
    .sell-item-detail, .purchase-item-detail {
        padding: 2.5vw 4vw;
    }
}

@media (min-width:1440px) {
    .sell-item-detail, .purchase-item-detail {
        padding: 2vw 3vw;
    }
}

@media (min-width:320px) {
    .sell-item-detail-link, .purchase-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:375px) {
    .sell-item-detail-link, .purchase-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:425px) {
    .sell-item-detail-link, .purchase-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:768px) {
    .sell-item-detail-link, .purchase-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:1024px) {
    .sell-item-detail-link, .purchase-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:1440px) {
    .sell-item-detail-link, .purchase-item-detail-link {
        margin: 2vw;
    }
}

@media (min-width:320px) {
    .sell-item-img, .purchase-item-img {
        width: 41vw;
    }
}

@media (min-width:375px) {
    .sell-item-img, .purchase-item-img {
        width: 26vw;
    }
}

@media (min-width:425px) {
    .sell-item-img, .purchase-item-img {
        width: 25vw;
    }
}

@media (min-width:768px) {
    .sell-item-img, .purchase-item-img {
        width: 18.5vw;
    }
}

@media (min-width:1024px) {
    .sell-item-img, .purchase-item-img {
        width: 14.4vw;
    }
}

@media (min-width:1440px) {
    .sell-item-img, .purchase-item-img {
        width: 14.8vw;
    }
}

@media (min-width:320px) {
    .sell-item-null-text, .purchase-item-null-text {
        font-size: 4.5vw;
    }
}

@media (min-width:375px) {
    .sell-item-null-text, .purchase-item-null-text {
        font-size: 4vw;
    }
}

@media (min-width:425px) {
    .sell-item-null-text, .purchase-item-null-text {
        font-size: 3.5vw;
    }
}

@media (min-width:768px) {
    .sell-item-null-text, .purchase-item-null-text {
        font-size: 2.3vw;
    }
}

@media (min-width:1024px) {
    .sell-item-null-text, .purchase-item-null-text {
        font-size: 1.7vw;
    }
}

@media (min-width:1440px) {
    .sell-item-null-text, .purchase-item-null-text {
        font-size: 1.4vw;
    }
}