
.profile-edit-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-edit-title {
    color: #000;
}

@media (min-width:320px) {
    .profile-edit-title {
        font-size: 5vw;
        margin: 15vw 0 6vw 0;
    }
}

@media (min-width:375px) {
    .profile-edit-title {
        font-size: 4.5vw;
        margin: 13vw 0 5vw 0;
    }
}

@media (min-width:425px) {
    .profile-edit-title {
        font-size: 4.3vw;
    }
}

@media (min-width:768px) {
    .profile-edit-title {
        font-size: 3.2vw;
        margin: 9vw 0 3vw 0;
    }
}

@media (min-width:1024px) {
    .profile-edit-title {
        font-size: 2.5vw;
        margin: 6vw 0 2vw 0;
    }
}

@media (min-width:1440px) {
    .profile-edit-title {
        font-size: 2vw;
        margin: 4vw 0 2vw 0;
    }
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.edit-group {
    display: inline-flex;
    flex-direction: column;
}

.image-edit-group {
    display: flex;
    flex-direction: row;
}

@media (min-width:320px) {
    .edit-group {
        margin: 2vw 0 4vw 0;
        width: 85vw;
    }
}

@media (min-width:375px) {
    .edit-group {
        width: 75vw;
    }
}

@media (min-width:425px) {
    .edit-group {
        margin: 2vw 0 3.7vw 0;
    }
}

@media (min-width:768px) {
    .edit-group {
        margin: 2vw 0 2.7vw 0;
        width: 55vw;
    }
}

@media (min-width:1024px) {
    .edit-group {
        margin: 2vw 0 1.8vw 0;
        width: 50vw;
    }
}

@media (min-width:1440px) {
    .edit-group {
        margin: 1vw 0 1.5vw 0;
        width: 45vw;
    }
}

.edit-group-title {
    color: #000;
    font-weight: bold;
    align-self: flex-start;
}

@media (min-width:320px) {
    .edit-group-title {
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .edit-group-title {
        font-size: 3.2vw;
    }
}

@media (min-width:425px) {
    .edit-group-title {
        font-size: 3vw;
    }
}

@media (min-width:768px) {
    .edit-group-title {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .edit-group-title {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .edit-group-title {
        font-size: 1.2vw;
    }
}

.edit-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0.1vw dashed #696969;
}

@media (min-width:320px) {
    .edit-image {
        padding: 10vw 0;
    }
}

@media (min-width:375px) {
    .edit-image {
        padding: 6vw 0;
    }
}

@media (min-width:425px) {
    .edit-image {
        padding: 4vw 0;
    }
}

@media (min-width:1024px) {
    .edit-image {
        padding: 1.5vw 0;
    }
}

.input-name,
.input-postcode,
.input-address,
.input-building {
    border: 0.1vw solid #696969;
    border-radius: 3px;
    padding: 1vw;
}

.input-image-label {
    color: #CD5C5C;
    font-weight: bold;
    align-self: center;
    border: 2px solid #CD5C5C;
    border-radius: 5px;
}

@media (min-width:320px) {
    .input-image-label {
        width: 40vw;
        padding: 1.2vw 0;
        font-size: 4.2vw;
    }
}

@media (min-width:375px) {
    .input-image-label {
        padding: 1vw 0;
        font-size: 3.8vw;
    }
}

@media (min-width:425px) {
    .input-image-label {
        width: 35vw;
        padding: 0.8vw 0;
        font-size: 3.5vw;
    }
}

@media (min-width:768px) {
    .input-image-label {
        width: 20vw;
        padding: 0.5vw 0;
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .input-image-label {
        width: 15vw;
        padding: 0.3vw 0;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .input-image-label {
        width: 13vw;
        padding: 0.25vw 0;
        font-size: 1.2vw;
    }
}

@media (min-width:320px) {
    .image-preview-text {
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .image-preview-text {
        font-size: 3.8vw;
    }
}

@media (min-width:425px) {
    .image-preview-text {
        font-size: 3.3vw;
    }
}

@media (min-width:768px) {
    .image-preview-text {
        font-size: 2.2vw;
    }
}

@media (min-width:1024px) {
    .image-preview-text {
        font-size: 1.6vw;
    }
}

@media (min-width:1440px) {
    .image-preview-text {
        font-size: 1.2vw;
    }
}

.profile-edit-error {
    width: fit-content;
    color: #f00;
}

@media (min-width:320px) {
    .profile-create-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:375px) {
    .profile-edit-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:425px) {
    .profile-edit-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:768px) {
    .profile-edit-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:1024px) {
    .profile-edit-error {
        font-size: 1.3vw;
        margin-left: 6vw;
    }
}

@media (min-width:1440px) {
    .profile-edit-error {
        font-size: 1vw;
        margin-left: 4vw;
    }
}

.update-button {
    background-color: #CD5C5C;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

@media (min-width:320px) {
    .update-button {
        font-size: 3.8vw;
        padding: 2.3vw 0;
        margin-top: 12vw;
    }
}

@media (min-width:375px) {
    .update-button {
        font-size: 3.2vw;
        padding: 2vw 0;
        margin-top: 10vw;
    }
}

@media (min-width:425px) {
    .update-button {
        font-size: 3vw;
        padding: 1.7vw 0;
        margin-top: 9vw;
    }
}

@media (min-width:768px) {
    .update-button {
        font-size: 1.8vw;
        padding: 1.2vw 0;
        margin-top: 6vw;
    }
}

@media (min-width:1024px) {
    .update-button {
        font-size: 1.4vw;
        padding: 0.8vw 0;
        margin: 5.5vw 0 5vw 0;
    }
}

@media (min-width:1440px) {
    .update-button {
        font-size: 1.2vw;
        padding: 0.6vw 0;
        margin: 3.2vw 0 5vw 0;
    }
}