
.sell-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sell-title {
    color: #000;
}

@media (min-width:320px) {
    .sell-title {
        font-size: 5vw;
        margin: 15vw 0 6vw 0;
    }
}

@media (min-width:375px) {
    .sell-title {
        font-size: 4.5vw;
        margin: 13vw 0 5vw 0;
    }
}

@media (min-width:425px) {
    .sell-title {
        font-size: 4.3vw;
    }
}

@media (min-width:768px) {
    .sell-title {
        font-size: 3.2vw;
        margin: 9vw 0 3vw 0;
    }
}

@media (min-width:1024px) {
    .sell-title {
        font-size: 2.5vw;
        margin: 6vw 0 2vw 0;
    }
}

@media (min-width:1440px) {
    .sell-title {
        font-size: 2vw;
        margin: 4vw 0 2vw 0;
    }
}

.sell-form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.sell-lot {
    display: flex;
    flex-direction: column;
}

.sell-lot-title {
    border-bottom: 0.2vw solid #696969;
    color: #696969;
    text-align: start;
    font-weight: bold;
}

.sell-group-title {
    color: #000;
    font-weight: bold;
}

@media (min-width:320px) {
    .sell-group-title {
        font-size: 3.9vw;
    }
    .sell-lot-title {
        font-size: 4.2vw;
    }
}

@media (min-width:375px) {
    .sell-group-title {
        font-size: 3.2vw;
    }
    .sell-lot-title {
        font-size: 3.5vw;
    }
}

@media (min-width:425px) {
    .sell-group-title {
        font-size: 3vw;
    }
    .sell-lot-title {
        font-size: 3.2vw;
    }
}

@media (min-width:768px) {
    .sell-group-title {
        font-size: 2vw;
    }
    .sell-lot-title {
        font-size: 2.5vw;
    }
}

@media (min-width:1024px) {
    .sell-group-title {
        font-size: 1.5vw;
    }
    .sell-lot-title {
        font-size: 2vw;
    }
}

@media (min-width:1440px) {
    .sell-group-title {
        font-size: 1.2vw;
    }
    .sell-lot-title {
        font-size: 1.5vw;
    }
}

.sell-group {
    display: inline-flex;
    flex-direction: column;
}

@media (min-width:320px) {
    .sell-group {
        margin: 2vw 0 4vw 0;
        width: 85vw;
    }
}

@media (min-width:375px) {
    .sell-group {
        width: 75vw;
    }
}

@media (min-width:425px) {
    .sell-group {
        margin: 2vw 0 3.7vw 0;
    }
}

@media (min-width:768px) {
    .sell-group {
        margin: 2vw 0 2.7vw 0;
        width: 55vw;
    }
}

@media (min-width:1024px) {
    .sell-group {
        margin: 2vw 0 1.8vw 0;
        width: 50vw;
    }
}

@media (min-width:1440px) {
    .sell-group {
        margin: 1vw 0 1.5vw 0;
        width: 45vw;
    }
}

.sell-group-content, .sell-group-title {
    align-self: flex-start;
}

.sell-group-content, .sell-input, .sell-textarea {
    width: 100%;
}

.sell-input {
    border: 0.1vw solid #696969;
    border-radius: 3px;
    padding: 1vw;
}

.sell-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0.1vw dashed #696969;
}

@media (min-width:320px) {
    .sell-image {
        padding: 10vw 0;
    }
}

@media (min-width:375px) {
    .sell-image {
        padding: 6vw 0;
    }
}

@media (min-width:425px) {
    .sell-image {
        padding: 4vw 0;
    }
}

@media (min-width:1024px) {
    .sell-image {
        padding: 1.5vw 0;
    }
}

.input-image-label {
    color: #CD5C5C;
    font-weight: bold;
    align-self: center;
    border: 2px solid #CD5C5C;
    border-radius: 5px;
}

@media (min-width:320px) {
    .input-image-label {
        width: 40vw;
        padding: 1.2vw 0;
        font-size: 4.2vw;
    }
}

@media (min-width:375px) {
    .input-image-label {
        padding: 1vw 0;
        font-size: 3.8vw;
    }
}

@media (min-width:425px) {
    .input-image-label {
        width: 35vw;
        padding: 0.8vw 0;
        font-size: 3.4vw;
    }
}

@media (min-width:768px) {
    .input-image-label {
        width: 20vw;
        padding: 0.5vw 0;
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .input-image-label {
        width: 15vw;
        padding: 0.3vw 0;
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .input-image-label {
        width: 13vw;
        padding: 0.25vw 0;
        font-size: 1.2vw;
    }
}

@media (min-width:320px) {
    .image-preview-text {
        font-size: 4vw;
    }
}

@media (min-width:375px) {
    .image-preview-text {
        font-size: 3.8vw;
    }
}

@media (min-width:425px) {
    .image-preview-text {
        font-size: 3.3vw;
    }
}

@media (min-width:768px) {
    .image-preview-text {
        font-size: 2.2vw;
    }
}

@media (min-width:1024px) {
    .image-preview-text {
        font-size: 1.6vw;
    }
}

@media (min-width:1440px) {
    .image-preview-text {
        font-size: 1.2vw;
    }
}

.category-label, .condition-label {
    display: inline-block;
}

@media (min-width:320px) {
    .category-label, .condition-label {
        margin-right: 1.7vw;
    }
}

@media (min-width:1024px) {
    .category-label, .condition-label {
        margin-right: 1.5vw;
    }
}

.sell-error {
    width: fit-content;
    color: #f00;
}

@media (min-width:320px) {
    .sell-checkbox-text, .sell-radio-detail {
        font-size: 3.4vw;
    }
}

@media (min-width:768px) {
    .sell-checkbox-text, .sell-radio-detail {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .sell-checkbox-text, .sell-radio-detail {
        font-size: 1.3vw;
    }
}

@media (min-width:1440px) {
    .sell-checkbox-text, .sell-radio-detail {
        font-size: 1.1vw;
    }
}

@media (min-width:320px) {
    .sell-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:375px) {
    .sell-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:425px) {
    .sell-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:768px) {
    .sell-error {
        font-size: 1.6vw;
        margin-left: 8vw;
    }
}

@media (min-width:1024px) {
    .sell-error {
        font-size: 1.3vw;
        margin-left: 6vw;
    }
}

@media (min-width:1440px) {
    .sell-error {
        font-size: 1vw;
        margin-left: 4vw;
    }
}

.sell-form-button {
    background-color: #CD5C5C;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

@media (min-width:320px) {
    .sell-form-button {
        font-size: 3.8vw;
        padding: 2.3vw 0;
        margin: 10vw 0 5vw 0;
    }
}

@media (min-width:375px) {
    .sell-form-button {
        font-size: 3.2vw;
        padding: 2vw 0;
    }
}

@media (min-width:425px) {
    .sell-form-button {
        font-size: 3vw;
        padding: 1.7vw 0;
        margin: 9vw 0 7vw 0;
    }
}

@media (min-width:768px) {
    .sell-form-button {
        font-size: 1.8vw;
        padding: 1.2vw 0;
        margin: 6vw 0 5vw 0;
    }
}

@media (min-width:1024px) {
    .sell-form-button {
        font-size: 1.4vw;
        padding: 0.8vw 0;
        margin: 5.5vw 0 5vw 0;
    }
}

@media (min-width:1440px) {
    .sell-form-button {
        font-size: 1.2vw;
        padding: 0.6vw 0;
        margin: 3.2vw 0 5vw 0;
    }
}
