.js-tab-panel {
    width: 100vw;
}

.js-tab-panel-group {
    display: flex;
}

.active_tab {
    color: #FF0000;
    text-align: center;
    padding: 5px;
}

@media (min-width:768px) {
    .active_tab {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .active_tab {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .active_tab {
        font-size: 1.1vw;
    }
}

.inactive_tab {
    padding: 5px;
}

@media (min-width:768px) {
    .inactive_tab {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .inactive_tab {
        font-size: 1.5vw;
    }
}

@media (min-width:1440px) {
    .inactive_tab {
        font-size: 1.1vw;
    }
}

.active_content {
    display: inline;
    text-align: left;
}

.inactive_content {
    display: none;
}